## NEW REPLACEMENT
## Exploring ELI data frame
#### Ting-Wei Shen, tis50@pitt.edu, Mar19, 2019

### Loading choosed data

In [158]:
# Import all packages on top
import nltk, glob, re
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns


# Turn off pretty printing 
%pprint

Pretty printing has been turned ON

First, check about answer.csv

In [170]:
df_answer = pd.read_csv("./data/answer.csv")
print(df_answer.shape)
df_answer.head(10)

(46239, 6)

,answer_id,question_id,anon_id,user_file_id,text,is_deleted
0,1,5,eq0,7505,I met my friend Nife while I was studying in a...,0
1,2,5,am8,7506,"Ten years ago, I met a women on the train betw...",0
2,3,12,dk5,7507,In my country we usually don't use tea bags. F...,0
3,4,13,dk5,7507,I organized the instructions by time.,0
4,5,12,ad1,7508,"First, prepare a port, loose tea, and cup.\nSe...",0
5,6,13,ad1,7508,By time,0
6,7,12,eg5,7509,"First, prepare your cup, loose tea or bag tea,...",0
7,8,13,eg5,7509,"I organized the instructions by time, beacause...",0
8,9,12,ad1,7510,"First, prepare a port, loose tea, and cup.\nSe...",0
9,10,13,ad1,7510,By time,0

I choose student_id(anon_id), question_id and text data to help me know the dataframe. Who write the essay with what kind of questions. 

What we need are anon_id, question_id and text data.

In [171]:
df_eli = pd.DataFrame()
df_eli = df_answer[['anon_id', 'question_id', 'text']]
print(df_eli.shape)
df_eli.head()

(46239, 3)

  anon_id  question_id                                               text
0     eq0            5  I met my friend Nife while I was studying in a...
1     am8            5  Ten years ago, I met a women on the train betw...
2     dk5           12  In my country we usually don't use tea bags. F...
3     dk5           13              I organized the instructions by time.
4     ad1           12  First, prepare a port, loose tea, and cup.\nSe...

Second, check about student information

In [172]:
df_student = pd.read_csv("./data/student_information.csv")
print(df_student.shape)
df_student.head()

(913, 21)

,anon_id,gender,birth_year,native_language,language_used_at_home,language_used_at_home_now,non_native_language_1,yrs_of_study_lang1,study_in_classroom_lang1,ways_of_study_lang1,...,yrs_of_study_lang2,study_in_classroom_lang2,ways_of_study_lang2,non_native_language_3,yrs_of_study_lang3,study_in_classroom_lang3,ways_of_study_lang3,createddate,modifieddate,course_history
0,ez9,Male,1978,Arabic,Arabic,NaN,English,more than 5 years,1.0,Studied grammar;Worked in pairs/groups;Studied...,...,less than 1 year,0.0,Studied by myself,NaN,NaN,0.0,NaN,2006-01-30 15:07:18,2006-03-14 15:13:37,6;12;18;24;30
1,gm3,Male,1980,Arabic,Arabic,NaN,English,more than 5 years,1.0,Studied grammar;Had a native-speaker teacher;S...,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,2006-01-30 15:07:28,2006-03-14 15:12:49,6;12;24;30;38
2,fg5,Male,1938,Nepali,Nepali,NaN,English,more than 5 years,1.0,Studied grammar;Worked in pairs/groups;Had a n...,...,less than 1 year,1.0,Studied grammar;Worked in pairs/groups;Had a n...,Hindi,more than 5 years,0.0,Studied by myself,2006-01-30 15:07:45,2006-03-14 15:11:36,18;24
3,ce5,Female,1984,Korean,Korean,NaN,English,more than 5 years,1.0,Studied grammar;Worked in pairs/groups;Had a n...,...,1-2 years,1.0,Studied grammar;Studied vocabulary;Listened to...,NaN,NaN,0.0,NaN,2006-01-30 15:07:49,2006-03-14 15:12:24,6;12;24;30;38;56
4,fi7,Female,1982,Korean,Korean;Japanese,NaN,English,more than 5 years,1.0,Studied grammar;Had a native-speaker teacher;S...,...,less than 1 year,1.0,Studied grammar;Studied vocabulary;Listened to...,French,1-2 years,1.0,Studied grammar;Studied vocabulary;Listened to...,2006-01-30 15:07:52,2006-03-14 15:12:17,6;12;24;30;38

Let's merge student information

In [173]:
df_student_trim = df_student[['anon_id', 'gender', 'native_language']]
df_eli = pd.merge(df_eli, df_student_trim, on='anon_id', how='left')
print(df_eli.shape)
df_eli.head()

(46239, 5)

,anon_id,question_id,text,gender,native_language
0,eq0,5,I met my friend Nife while I was studying in a...,Male,Arabic
1,am8,5,"Ten years ago, I met a women on the train betw...",Female,Thai
2,dk5,12,In my country we usually don't use tea bags. F...,Female,Turkish
3,dk5,13,I organized the instructions by time.,Female,Turkish
4,ad1,12,"First, prepare a port, loose tea, and cup.\nSe...",Female,Korean

In [174]:
# Let's rename the column to help us recognize.
df_eli = df_eli.rename(columns={'anon_id':'student_id'})
df_eli.head()

,student_id,question_id,text,gender,native_language
0,eq0,5,I met my friend Nife while I was studying in a...,Male,Arabic
1,am8,5,"Ten years ago, I met a women on the train betw...",Female,Thai
2,dk5,12,In my country we usually don't use tea bags. F...,Female,Turkish
3,dk5,13,I organized the instructions by time.,Female,Turkish
4,ad1,12,"First, prepare a port, loose tea, and cup.\nSe...",Female,Korean

The dataframe looks great.

How about adding question column?

In [176]:
df_question = pd.read_csv("./data/question.csv")
print(df_question.shape)
df_question.head()

(6138, 16)

,question_id,question_type_id,user_file_id,question_category_id,question_parent_id,explanation,stem,choiceA,choiceB,choiceC,choiceD,allow_text,order_num,is_deleted,org_level,direction
0,1,2,7430,NaN,NaN,NaN,Answer the question. Write a complete sentenc...,NaN,NaN,NaN,NaN,1,1,0,NaN,NaN
1,2,2,7430,NaN,NaN,NaN,Answer the question. Write a complete sentenc...,NaN,NaN,NaN,NaN,1,2,0,NaN,NaN
2,3,2,7430,NaN,NaN,NaN,Answer the question. Write a complete sentenc...,NaN,NaN,NaN,NaN,1,3,0,NaN,NaN
3,4,4,7495,NaN,NaN,NaN,Write an essay on ONE of the following topics....,NaN,NaN,NaN,NaN,1,1,0,NaN,NaN
4,5,1,7496,NaN,NaN,NaN,Write a paragraph about a relatioship that is...,NaN,NaN,NaN,NaN,1,1,0,NaN,NaN

Select question_id and stem(question) only.

In [177]:
df_question_trim = df_question[['question_id', 'stem']]
df_question_trim = df_question_trim.rename(columns={'stem':'question'})
df_question_trim.head()

   question_id                                           question
0            1  Answer the question.  Write a complete sentenc...
1            2  Answer the question.  Write a complete sentenc...
2            3  Answer the question.  Write a complete sentenc...
3            4  Write an essay on ONE of the following topics....
4            5  Write a paragraph  about a relatioship that is...

In [178]:
df_eli = pd.merge(df_eli, df_question_trim, on='question_id', how='left')
df_eli.head()

,student_id,question_id,text,gender,native_language,question
0,eq0,5,I met my friend Nife while I was studying in a...,Male,Arabic,Write a paragraph about a relatioship that is...
1,am8,5,"Ten years ago, I met a women on the train betw...",Female,Thai,Write a paragraph about a relatioship that is...
2,dk5,12,In my country we usually don't use tea bags. F...,Female,Turkish,"In five sentences or less, give instructions o..."
3,dk5,13,I organized the instructions by time.,Female,Turkish,"How do you organize the instructions: by time,..."
4,ad1,12,"First, prepare a port, loose tea, and cup.\nSe...",Female,Korean,"In five sentences or less, give instructions o..."

### Linguistic Analysis
#### 1. Text length as token count
- Let's count text length
- In this part, nltk.word_tokenize return errors caused by the wrong input first. That is because some text is stored in "float" type, and word_tokenize only accepts "string" format. I have to set every text into "string" format first, then utilize word_tokenize().

In [242]:
def getTokens2(txt):
    txt = str(txt)
    x = nltk.word_tokenize(txt)
    return x

In [243]:
df_eli['tokens'] = df_eli.text.map(getTokens2)

In [244]:
df_eli.head()

,student_id,question_id,text,gender,native_language,question,tokens
0,eq0,5,I met my friend Nife while I was studying in a...,Male,Arabic,Write a paragraph about a relatioship that is...,"[I, met, my, friend, Nife, while, I, was, stud..."
1,am8,5,"Ten years ago, I met a women on the train betw...",Female,Thai,Write a paragraph about a relatioship that is...,"[Ten, years, ago, ,, I, met, a, women, on, the..."
2,dk5,12,In my country we usually don't use tea bags. F...,Female,Turkish,"In five sentences or less, give instructions o...","[In, my, country, we, usually, do, n't, use, t..."
3,dk5,13,I organized the instructions by time.,Female,Turkish,"How do you organize the instructions: by time,...","[I, organized, the, instructions, by, time, .]"
4,ad1,12,"First, prepare a port, loose tea, and cup.\nSe...",Female,Korean,"In five sentences or less, give instructions o...","[First, ,, prepare, a, port, ,, loose, tea, ,,..."

In [245]:
df_eli['token_count'] = df_eli.tokens.map(len)
df_eli.head()

,student_id,question_id,text,gender,native_language,question,tokens,token_count
0,eq0,5,I met my friend Nife while I was studying in a...,Male,Arabic,Write a paragraph about a relatioship that is...,"[I, met, my, friend, Nife, while, I, was, stud...",193
1,am8,5,"Ten years ago, I met a women on the train betw...",Female,Thai,Write a paragraph about a relatioship that is...,"[Ten, years, ago, ,, I, met, a, women, on, the...",152
2,dk5,12,In my country we usually don't use tea bags. F...,Female,Turkish,"In five sentences or less, give instructions o...","[In, my, country, we, usually, do, n't, use, t...",68
3,dk5,13,I organized the instructions by time.,Female,Turkish,"How do you organize the instructions: by time,...","[I, organized, the, instructions, by, time, .]",7
4,ad1,12,"First, prepare a port, loose tea, and cup.\nSe...",Female,Korean,"In five sentences or less, give instructions o...","[First, ,, prepare, a, port, ,, loose, tea, ,,...",74

In [112]:
import pickle as pkl

combo_df = pkl.load(open('./data/combo_df.pkl', 'rb'))

In [113]:
print(combo_df.shape)
combo_df.head(10)

(48384, 10)

,question_id,anon_id,user_file_id,text,class_code,level_id,native_language,version,tokens,text_length
answer_id,,,,,,,,,,
1,5,eq0,7505,I met my friend Nife while I was studying in a...,g,4,Arabic,1,"[i, met, my, friend, nife, while, i, was, stud...",177
2,5,am8,7506,"Ten years ago, I met a women on the train betw...",g,4,Thai,1,"[ten, years, ago, i, met, a, women, on, the, t...",137
3,12,dk5,7507,In my country we usually don't use tea bags. F...,w,4,Turkish,1,"[in, my, country, we, usually, don, t, use, te...",63
4,13,dk5,7507,I organized the instructions by time.,w,4,Turkish,1,"[i, organized, the, instructions, by, time]",6
5,12,ad1,7508,"First, prepare a port, loose tea, and cup.\r\r...",w,4,Korean,1,"[first, prepare, a, port, loose, tea, and, cup...",59
6,13,ad1,7508,By time,w,4,Korean,1,"[by, time]",2
7,12,eg5,7509,"First, prepare your cup, loose tea or bag tea,...",w,4,Korean,1,"[first, prepare, your, cup, loose, tea, or, ba...",39
8,13,eg5,7509,"I organized the instructions by time, beacause...",w,4,Korean,1,"[i, organized, the, instructions, by, time, be...",35
9,12,ad1,7510,"First, prepare a port, loose tea, and cup.\r\r...",w,4,Korean,2,"[first, prepare, a, port, loose, tea, and, cup...",59
10,13,ad1,7510,By time,w,4,Korean,2,"[by, time]",2

In [9]:
print(combo_df.question_id[4])

13