In [20]:
import pandas as pd

In [25]:
df_answer = pd.read_csv("./data/answer.csv")
df_answer.head(10)

,answer_id,question_id,anon_id,user_file_id,text,is_deleted
0,1,5,eq0,7505,I met my friend Nife while I was studying in a...,0
1,2,5,am8,7506,"Ten years ago, I met a women on the train betw...",0
2,3,12,dk5,7507,In my country we usually don't use tea bags. F...,0
3,4,13,dk5,7507,I organized the instructions by time.,0
4,5,12,ad1,7508,"First, prepare a port, loose tea, and cup.\nSe...",0
5,6,13,ad1,7508,By time,0
6,7,12,eg5,7509,"First, prepare your cup, loose tea or bag tea,...",0
7,8,13,eg5,7509,"I organized the instructions by time, beacause...",0
8,9,12,ad1,7510,"First, prepare a port, loose tea, and cup.\nSe...",0
9,10,13,ad1,7510,By time,0

In [26]:
df_course = pd.read_csv("./data/course.csv")
df_course.head(10)

,course_id,class_id,level_id,semester,section,course_description
0,1,1,2,2064,A,Reading Pre_Intermediate 2064 A
1,2,1,3,2064,B,Reading Low_Intermediate 2064 B
2,3,1,4,2064,M,Reading Intermediate 2064 M
3,4,1,4,2064,P,Reading Intermediate 2064 P
4,5,1,4,2064,Q,Reading Intermediate 2064 Q
5,6,1,5,2064,S,Reading Advanced 2064 S
6,7,2,2,2064,A,Writing Pre_Intermediate 2064 A
7,8,2,3,2064,B,Writing Low_Intermediate 2064 B
8,9,2,4,2064,M,Writing Intermediate 2064 M
9,10,2,4,2064,P,Writing Intermediate 2064 P

In [27]:
df_document = pd.read_csv("./data/document.csv")
df_document.head(10)

,document_id,context,url,url_name,file_id,is_deleted
0,1,Thomas Alva Edison invented many useful things...,NaN,NaN,NaN,0
1,2,Unit 1,NaN,NaN,NaN,0
2,3,go,NaN,NaN,NaN,0
3,4,Directions,NaN,NaN,NaN,0
4,5,This is a document.,NaN,NaN,NaN,0
5,6,Another test doc.,NaN,NaN,NaN,0
6,7,A test document.,NaN,NaN,NaN,0
7,8,Doc u ment,NaN,NaN,NaN,0
8,9,A doc,NaN,NaN,NaN,0
9,10,Testing timeout,NaN,NaN,NaN,0

In [29]:
df_document = pd.read_csv("./data/INDEX.class.csv")
df_document.head(10)

   class_id class_description class_abbreviation
0         1           Reading                  r
1         2           Writing                  w
2         3          Speaking                  s
3         4         Listening                  l
4         5           Grammar                  g

In [30]:
df_document = pd.read_csv("./data/INDEX.file_information.csv")
df_document.head(10)

,file_info_id,file_info_description,file_info_abbreviation,file_format,author_type_id
0,1,Sample Sound Record,s,wav,1
1,2,Transcript,t,txt,1
2,3,Notes,n,txt,1
3,4,Corretion,c,wav,1
4,5,Teacher Notes,tn,txt,2
5,6,Feedback,f,wav,2
6,7,Student Notes,sn,txt,1
7,8,Paragraph Writing,pw,txt,1
8,9,Fill-in-the-blank,f-b,txt,1
9,10,Sentence Completion,sc,txt,1

In [6]:
import pickle as pkl

combo_df = pkl.load(open('./data/combo_df.pkl', 'rb'))

In [7]:
combo_df.head(10)

,question_id,anon_id,user_file_id,text,class_code,level_id,native_language,version,tokens,text_length
answer_id,,,,,,,,,,
1,5,eq0,7505,I met my friend Nife while I was studying in a...,g,4,Arabic,1,"[i, met, my, friend, nife, while, i, was, stud...",177
2,5,am8,7506,"Ten years ago, I met a women on the train betw...",g,4,Thai,1,"[ten, years, ago, i, met, a, women, on, the, t...",137
3,12,dk5,7507,In my country we usually don't use tea bags. F...,w,4,Turkish,1,"[in, my, country, we, usually, don, t, use, te...",63
4,13,dk5,7507,I organized the instructions by time.,w,4,Turkish,1,"[i, organized, the, instructions, by, time]",6
5,12,ad1,7508,"First, prepare a port, loose tea, and cup.\r\r...",w,4,Korean,1,"[first, prepare, a, port, loose, tea, and, cup...",59
6,13,ad1,7508,By time,w,4,Korean,1,"[by, time]",2
7,12,eg5,7509,"First, prepare your cup, loose tea or bag tea,...",w,4,Korean,1,"[first, prepare, your, cup, loose, tea, or, ba...",39
8,13,eg5,7509,"I organized the instructions by time, beacause...",w,4,Korean,1,"[i, organized, the, instructions, by, time, be...",35
9,12,ad1,7510,"First, prepare a port, loose tea, and cup.\r\r...",w,4,Korean,2,"[first, prepare, a, port, loose, tea, and, cup...",59
10,13,ad1,7510,By time,w,4,Korean,2,"[by, time]",2

In [9]:
print(combo_df.question_id[4])

13